@model IEnumerable<GarageWebbApp2._0.Models.Vehicle>

@{
    ViewBag.Title = "Search";
}

<header class="col-xs-12">
    <h2 class="col-xs-12 text-center">Find the vehicle you are looking for!</h2>
</header>

<content class="col-xs-12">
    <article class="col-sm-4 col-xs-12">
        <div class="row searchFilters">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <h3>Select a filter method</h3>
                <select name="SelectionField" class="col-xs-12" required>
                    <option value="VehicleType">Vehicle Type</option>
                    <option value="Color">Color</option>
                    <option value="RegNum">Registration Number</option>
                    <option value="NumberOfWheels">Number Of Wheels</option>
                    <option value="Model">Vehicle Model</option>
                    <option value="Owner">Owner</option>
                    <option value="ModelYear">Model Year</option>
                </select>

                <h3>Enter search query</h3>
                <input type="text" name="SearchField" placeholder="Search for..." class="col-xs-12" required>
                <button type="submit" class="col-xs-12">
                    <i class="fa fa-search"></i>
                    <span>Find</span>
                </button>
            }
        </div>
    </article>

    <article class="col-sm-7 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="row">
            @if (@ViewBag.Message != "IsEmpty" && @ViewBag.Message != "IsNull")
            {
                <table class="table">
                    <tr>
                        <th>Registration number</th>
                        <th>Owner</th>
                        <th>Vehicle type</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Details", "Garage", new { id = item.ID })">@item.RegNum <i class="fa fa-external-link" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VehicleType)
                            </td>
                            <td>
                                <a href="@Url.Action("Remove", "Garage", new { id = item.ID })" class="RemoveBtn"><i class="fa fa-trash text-danger"></i></a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else if (@ViewBag.Message == "IsEmpty")
            {
                <script>
                    swal({
                        title: 'Error!',
                        text: 'There are no Vehicles in the garage!',
                        type: 'error',
                        confirmButtonText: 'Continue'
                    });
                </script>
            }
            else if (@ViewBag.Message == "IsNull")
            {
                <script>
                    swal({
                        title: 'Error!',
                        text: 'There is no Vehicle that matches your search in the garage!',
                        type: 'error',
                        confirmButtonText: 'Continue'
                    });
                </script>
            }
        </div>
    </article>
</content>

